<div class="menu_haut">
    <div><p>Bonjour {{session.login}}</p><a href="/Deconnexion">déconnexion</a></div>
    <ul>
        <li><a href="/GestionVips/ajouterVip">VIPS</a></li>
        <li class="traitVertical"><a href="/GestionPhotos/ajouterPhoto">PHOTOS</a></li>
    </ul>
</div>

