<div class="menu-vip">
    <img src="/images/vips.png" alt="VIPs">
    <a href="/GestionVips/ajouterVip">Ajouter</a>
    <a href="/GestionVips/modifierVip">Modifier</a>
    <a href="/GestionVips/supprimerVip">Supprimer</a>
</div>
