<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/lytebox/lytebox.css" type="text/css" media="screen" />
        <link rel="shortcut icon" type="image/png" href="/css/etoile.ico" sizes="16x16"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/structureAdmin.css" />
        <title>{{title}}</title>
    </head>
    <body class="monBody">
        <div id="container">
            <div id="header">
                <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars" /> </div>
            </div>
            {{{body}}}
        </div>
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip({});
            });
        </script>
    </body>
</html>
