<form class="connection" action="/Administration" method="post" autocomplete="off">
    <h4>Administration</h4>
    <p>{{error}}</p>
    <label for="login">Login :</label>
    <input type="text" id="login" name="login" value=""><br>
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" name="password" value=""><br>
    <input type="reset" name="reset" value="Annuler">
    <input type="submit" name="" value="Connexion">
</form>

